@model FacilityInCharge

<h1>Your Profile</h1>
<div>
    <h4>First Name:</h4>
    <p>@Model.FirstName</p>

    <h4>Last Name:</h4>
    <p>@Model.LastName</p>

    <h4>Email:</h4>
    <p>@Model.Email</p>

    <h4>Profile Picture:</h4>
    <img src="@Model.ProfilePictureUrl" alt="Profile Picture" width="100">
</div>
