@{
    ViewBag.Title = "About";
}

<div class="container my-5">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="display-4">About Us</h1>
            <hr class="my-4">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h2 class="mb-4">The University of the Free State, QwaQwa Campus</h2>
            <p class="lead">
                The University of the Free State, QwaQwa campus, offers a variety of facilities like Gym, laundry service, parking service, and library discussion rooms for students, staff, and visitors. These amenities are designed to make campus life easier, more convenient, and enjoyable.
            </p>
            <p>
                As the use of these facilities is increasing among students, staff, and visitors, the traditional method of physically walking to different facilities only to find them crowded or unavailable has become inconvenient and frustrating.
            </p>
            <h2 class="mt-5 mb-4">Our Solution</h2>
            <p class="lead">
                Our online facilities booking system provides a convenient solution that overcomes the disadvantages of the traditional queuing system. With this platform, you can easily book the facility you need, ensuring that your time on campus is both productive and enjoyable.
            </p>
        </div>
    </div>
</div>
