@model Facility

@{
    ViewData["Title"] = "Edit";
}
@section Styles{
    <style>
        .gradient-custom {
            /* fallback for old browsers */
            background: #6a11cb;
            /* Chrome 10-25, Safari 5.1-6 */
            background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
        }
    </style>
}

<section class="gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <div class="mb-md-5 mt-md-4 pb-5">

                            <h2 class="fw-bold mb-2 text-uppercase">Edit Facilty</h2>
                            <p class="text-white-50 mb-5">Please update the Facility details!</p>

                            <form asp-action="Edit">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="FacilityID" />

                                <div class="form-outline form-white mb-4">
                                    <label asp-for="Picture" class="control-label"></label>
                                    <input asp-for="Picture" class="form-control" />
                                    <span asp-validation-for="Picture" class="text-danger"></span>
                                </div>

                                <div class="form-outline form-white mb-4">
                                    <label asp-for="Code" class="control-label"></label>
                                    <input asp-for="Code" class="form-control" />
                                    <span asp-validation-for="Code" class="text-danger"></span>
                                </div>

                                <div class="form-outline form-white mb-4">
                                    <label asp-for="Name" class="control-label"></label>
                                    <input asp-for="Name" class="form-control" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>

                                <div class="form-outline form-white mb-4">
                                    <label asp-for="Price" class="control-label"></label>
                                    <input asp-for="Price" class="form-control" />
                                    <span asp-validation-for="Price" class="text-danger"></span>
                                </div>
                                <div class="form-outline form-white mb-4">
                                    <label asp-for="PricingType">Pricing Type</label>
                                    <select asp-for="PricingType" asp-items="Html.GetEnumSelectList<PricingType>()" class="form-control"></select>
                                </div>
                                <div class="form-outline form-white mb-4">
                                    <label asp-for="DiscountPercent" class="control-label"></label>
                                    <input asp-for="DiscountPercent" class="form-control" />
                                    <span asp-validation-for="DiscountPercent" class="text-danger"></span>
                                </div>
                                <div class="form-outline form-white mb-4">
                                    <label asp-for="CategoryID" class="control-label"></label>
                                    <select asp-for="CategoryID" class="form-control" asp-items="ViewBag.CategoryID"></select>
                                    <span asp-validation-for="CategoryID" class="text-danger"></span>
                                </div>
                                <div class="form-outline form-white mb-4">
                                    <label asp-for="Location" class="control-label"></label>
                                    <input asp-for="Location" class="form-control" />
                                    <span asp-validation-for="Location" class="text-danger"></span>
                                </div>
                                <div class="form-outline form-white mb-4">
                                    <label asp-for="Capacity" class="control-label"></label>
                                    <input asp-for="Capacity" class="form-control" />
                                    <span asp-validation-for="Capacity" class="text-danger"></span>
                                </div>

                                <button type="submit" class="btn btn-outline-light btn-lg px-5">Save</button>
                            </form>

                        </div>

                        <div>
                            <a href="@Url.Action("Index", "Facilities")" class="text-white-50 fw-bold">Back to List</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
