@model Facility 

<h2>Are you sure you want to delete this facility?</h2>

<div>
    <h4>Facility Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Facility Code</dt>
        <dd class="col-sm-10">@Model.Code</dd>

        <dt class="col-sm-2">Facility Name</dt>
        <dd class="col-sm-10">@Model.Name</dd>

        <dt class="col-sm-2">Price</dt>
        <dd class="col-sm-10">@Model.Price</dd>

        <dt class="col-sm-2">Pricing Type</dt>
        <dd class="col-sm-10">@Model.PricingType</dd>

        <!-- Add more details here -->
    </dl>
</div>
<form asp-action="DeleteFacilityConfirmed" method="post">
    <input type="hidden" asp-for="FacilityID" />
    <input type="submit" value="Delete" class="btn btn-danger" /> |
    <a asp-action="Facilities" class="btn btn-secondary">Cancel</a>
</form>
